/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  color: #c7c7c7;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/* Link & Button Defaults */
a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #7c3aed;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}
